<%- include partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
    <title>OSM and Leaflet</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>
    <div id="map" style="width: 900px; height: 580px"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
        // Making API request to Blockchair
        fetch('https://api.blockchair.com/bitcoin/stats')
            .then(response => response.json())
            .then(data => {
                // Handle the data from the API response
                console.log(data); // For example, you can log the data to the console
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>
</body>
</html>
